<a href="https://colab.research.google.com/github/marquesgabi/Portifolio/blob/main/NLP/TF_IDF_natural_language_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [ ]:
doc1 = 'Game of Thrones is an amazing tv series!'
doc2 = 'Game of Thrones is the best tv series!'
doc3 = 'Game of Thrones is so great'

In [ ]:

vectorizer = TfidfVectorizer()
response = vectorizer.fit_transform([doc1,doc2,doc3])
df_tfidf_sklearn = pd.DataFrame(response.toarray(),columns=vectorizer.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
df_tfidf_sklearn

    amazing        an      best  ...       the   thrones        tv
0  0.468699  0.468699  0.000000  ...  0.000000  0.276821  0.356457
1  0.000000  0.000000  0.468699  ...  0.468699  0.276821  0.356457
2  0.000000  0.000000  0.000000  ...  0.000000  0.320528  0.000000

[3 rows x 12 columns]